.vscode
.vs
Debug
Release
My Advisor Results - CPlusPlusDATExample
My Inspector Results - CPlusPlusDATExample
CPlusPlusDATExample.xcodeproj

# CPlusPlusDATExample.sln
# CPlusPlusDATExample.vcxproj
CPlusPlusDATExample.vcxproj.user
Info.plist